div.content{
    height: 100vh;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}


.content-calendario{
    max-width: 760px;
    background: var(--main-bg-color);
    padding: 20px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
   }

.days-week{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid var(--cor-secundaria);
}

.days-week span{
    color: white;
    display: inline-block;
    width: 14.2%;
    font-weight: bold;
}

.number-days{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.number-days span{
    display: flex;
    width: 14.2%;
    height: 80px;
    color: white;
    /* margin: 8px 0; */

    border: 1px solid white;
}

.mes-anterior{
    opacity: 0.5;
}


